:root {
  /* colors */
  --clr-text-light: #e2f0ed;
  --clr-text-light-hover: #ecc5bd;
  --clr-body-light: #f5edeb;
  --clr-body-text-light: #420c0d;
  --clr-header-footer-light: #3d2d66;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--clr-text-light);
  background-color: var(--clr-body-light);
  overflow-x: hidden;
}

.header,
.footer {
  background-color: var(--clr-header-footer-light);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

h1 {
  font-size: 2.9rem;
  margin: 10px 0;
}

h1 > a {
  text-decoration: none;
  color: var(--clr-text-light);
}

.navigation {
  list-style: none;
  font-size: 1.7rem;
  display: flex;
  gap: 15px;
  z-index: 100;
}

.navigation li > a {
  text-decoration: none;
  color: var(--clr-text-light);
  transition: all 0.6s ease-out;
}

.navigation li > a:hover {
  color: var(--clr-text-light-hover);
}

/* burger menu */

.burger-menu {
  display: none;
  height: 35px;
  width: 35px;
  margin-left: auto;
  position: relative;
}

.burger-menu span {
  height: 2px;
  width: 100%;
  background-color: var(--clr-text-light);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.burger-menu span:nth-child(1) {
  top: 25%;
}

.burger-menu span:nth-child(3) {
  top: 75%;
}

/* active burger */
.burger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu.active span:nth-child(2) {
  opacity: 0;
}
.burger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* main */
#levels {
  padding: 40px 10px;
}

h2 {
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--clr-body-text-light);
  text-align: center;
  margin-bottom: 25px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.level > p {
  font-size: 1.5rem;
  font-weight: 500;
  width: 120px;
  color: var(--clr-body-light);
  background-color: var(--clr-header-footer-light);
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

.levels-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.levels-container > a {
  text-decoration: none;
}

.level-card {
  text-align: center;
}

.level-card > img {
  width: 70px;
  height: 70px;
}

.level-card > p {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;

  color: var(--clr-body-text-light);
}

/* game*/

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.game-field__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: var(--clr-text-light-hover);
}

.game-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.game-btn {
  width: 170px;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-header-footer-light);
  color: var(--clr-text-light);
  padding: 7px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.game-btn:hover {
  color: var(--clr-text-light-hover);
}

/* table */
#table {
  padding: 20px 0 30px;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
}

.table-score {
  border-spacing: 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.table-caption {
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--clr-body-text-light);
  margin: 30px 0;
}

th {
  font-size: 2.1rem;
  font-weight: 400;
  padding: 12px 15px;
  background-color: var(--clr-header-footer-light);
  text-align: start;
}

td {
  font-size: 1.8rem;
  padding: 12px 15px;
  background-color: var(--clr-header-footer-light);
  text-align: start;
}

tr > td {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 15px;
  height: 35px;
  background-color: var(--clr-body-light);
  color: var(--clr-body-text-light);
}

tr:nth-child(2n) > td {
  background-color: var(--clr-text-light);
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  height: 68px;
}

.footer-container p {
  font-size: 1.7rem;
}

.contacts-container > a {
  text-decoration: none;
}

.contacts-container img {
  width: 35px;
  margin-left: 7px;
}

@media (max-width: 700px) {
  .navigation {
    position: absolute;
    top: 75px;
    left: 100%;
    background-color: aquamarine;
    display: block;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 40px 20px 0;
    text-align: center;
    font-size: 2rem;
    transition: 0.7s ease;
  }

  .navigation > li {
    margin-bottom: 20px;
  }

  .burger-menu {
    display: block;
  }

  .header-container.active .navigation {
    transform: translateX(-100%);
  }

  h2 {
    font-size: 2.2rem;
  }

  .level > p {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100px;
  }

  .level-card > img {
    width: 50px;
    height: 50px;
  }

  .level-card > p {
    font-size: 1.5rem;
    font-weight: 500;

    color: var(--clr-body-text-light);
  }

  .game-container {
    flex-direction: column;
  }

  .table-caption {
    font-size: 2.2rem;
  }
  th {
    font-size: 1.7rem;
  }

  td {
    font-size: 1.5rem;
  }
  tr > td {
    padding: 6px 15px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }

  .level > p {
    display: none;
  }

  .level-card > img {
    width: 40px;
    height: 40px;
  }
  .footer-container p {
    font-size: 1.5rem;
  }

  .contacts-container img {
    width: 25px;
  }

  .table-container {
    padding: 0;
  }

  .table-caption {
    font-size: 1.8rem;
  }
  th {
    font-size: 1.4rem;
  }

  td {
    font-size: 1.2rem;
  }
  tr > td {
    padding: 6px 15px;
    height: 28px;
    font-weight: 400;
  }
}

.row-top {
  display: flex;
}

.row-top .row-prompt {
  border: none;
}

.top-prompt {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: black;
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  min-height: 60px;
  border: 1px solid black;
}

span.prompt {
  text-align: center;
}

.row-cells {
  display: flex;
}

.row-prompt {
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  min-width: 60px;
  height: 40px;
  text-align: end;
  border: 1px solid black;
}

.cell {
  color: black;
  font-size: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
